body {
    background-color: #23241f;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.clock-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clock {
    user-select: none;
    font-size: 35px;
    font-family: "Consolas", "Menlo", "Monaco", "Courier New", monospace;
}

.dbd {
    font-size: 15px;
    font-family: "Consolas", "Menlo", "Monaco", "Courier New", monospace;
    color: #404040;
    display: flex;
    justify-content: center;
}
